body{
background-color: #424242
}
img {
	width: 290px;     
	height: 250px;
	margin: 10px 20px 10px 500px;
	padding: 20px 20px; 
}
.Arriba {  
	background-color: #F7BE81;
	font-family: Comic Sans MS; 
	text-align: center;  
	border:10px solid yellow;      
	width: 190px;     
	height: 250px;
	margin: 10px 20px 10px 30px;     
	padding: 20px 20px; 
} 

.Abajo {
	background-color: #BDBDBD;
	font-family: fantasy;
    text-align: center;
	border:10px solid yellow;     
	width: 190px;     
	height: 200px;     
	margin: 10px 20px 10px 500px;
	padding: 20px 20px; 
	}

